@using System.Collections.ObjectModel

<div class="govuk-cookie-banner @Classes" data-nosnippet role="region" aria-label="@AriaLabel" hidden=@HiddenAttribute @attributes="InputAttributes">

    @foreach(var message in Messages)
    {
        <div class="govuk-cookie-banner__message govuk-width-container @message.Classes" role="@message.Role" @attributes="message.InputAttributes" hidden=@message.HiddenAttribute>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    @if(message.HeadingContent is not null || !string.IsNullOrEmpty(message.HeadingText))
                    {
                     <h2 class="govuk-cookie-banner__heading govuk-heading-m">
                      @if (message.HeadingContent is null)
                        {
                            @message.HeadingText
                        }
                        else
                        {
                            @message.HeadingContent
                        }
                    </h2>   
                    }

                    <div class="govuk-cookie-banner__content">
                        @if (message.Content is null)
                        {
                            if (!string.IsNullOrEmpty(message.Text))
                            {
                                <p class="govuk-body">@message.Text</p>
                            }
                        }
                        else
                        {
                            @message.Content
                        }
                    </div>
                </div>
            </div>

            @if(message.Actions.Any())
            {
                <div class="govuk-button-group">
                    @foreach(var action in message.Actions)
                    {
                        if(!string.IsNullOrEmpty(action.Href))
                        {
                            if(action.Type == GDSButton.InputType.Button)
                            {
                                <GDSButton Text=@action.Text Type=GDSButton.InputType.Button Classes=@action.Classes HRef=@action.Href InputAttributes=@action.InputAttributes/>
                            }
                            else
                            {
                                <a class="govuk-link @action.Classes" href="@action.Href" @attributes="@action.InputAttributes">@action.Text</a>
                            }
                        }
                        else
                        {
                            <GDSButton Text=@action.Text Name=@action.Name Value=@action.Value Type=@action.Type Classes=@action.Classes InputAttributes=@action.InputAttributes/>
                        }
                    }
                </div>
            }
        </div>
    }
</div>


@code {
    public class Action
    {
        public string Text { get; set; }
        public GDSButton.InputType? Type { get; set; }
        public string Href { get; set; }
        public string Name { get; set; }
        public string Value { get; set; }
        public string Classes { get; set; }
        public IDictionary<string, object> InputAttributes { get; set; }
    }


    public class Message
    {
        public string HeadingText { get; set; }
        public RenderFragment HeadingContent { get; set; }
        public string Text { get; set; }
        public RenderFragment Content { get; set; }
        public IEnumerable<Action> Actions { get; set; }  = new Collection<Action>();
        public bool Hidden { get; set; }
        public string HiddenAttribute => Hidden ? "hidden" : null;
        public string Role { get; set; }
        public string Classes { get; set; }
        public IDictionary<string, object> InputAttributes { get; set; }
    }

    public class Options
    {
        
        public IEnumerable<Message> Messages { get; set; } = new Collection<Message>();

        
        public string Classes { get; set; }

        
        public string AriaLabel { get; set; } = "Cookie banner";

        
        public bool Hidden { get; set; }

        protected string HiddenAttribute => Hidden ? "hidden" : null;

        public IDictionary<string, object> Attributes { get; set; }
    }

    [Parameter]
    public IEnumerable<Message> Messages { get; set; } = new Collection<Message>();

    [Parameter]
    public string Classes { get; set; }

    [Parameter]
    public string AriaLabel { get; set; } = "Cookie banner";

    [Parameter]
    public bool Hidden { get; set; }

    protected string HiddenAttribute => Hidden ? "hidden" : null;

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> InputAttributes { get; set; }
}
